header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

.logo {
    font-size: 2rem; 
    font-weight: 600;
    color: var(--verde-escuro);
}

.btn-login {
    padding: 18px 30px;
    font-size: 1.3rem;
    background: var(--verde);
    color: var(--branco);
    border-radius: var(--radius-md);
    font-weight: 600;
    transition: 0.3s;
}
.btn-login:hover {
    background: var(--verde-escuro);
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
    align-items: center;
}

.hero .text {
    max-width: 620px;
}

.hero h2 {
    font-size: 5.4rem; 
    color: var(--verde-escuro);
    margin-bottom: 8px;
    line-height: 1.2;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 35px;
    line-height: 1.6;
}

.btn-primary {
    background: var(--verde);
    padding: 18px 36px;
    font-size: 1.2rem;
    color: var(--branco);
    border-radius: var(--radius-lg);
    font-weight: 600;
    transition: 0.3s;
}
.btn-primary:hover {
    background: var(--verde-escuro);
}

.hero-img img {
    width: 630px;
    object-fit: contain;
    transform: translateY(10px);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px; 
    padding: 60px 80px;
}

.card {
    background: var(--branco);
    padding: 30px;
    width: 300px; 
    border-radius: var(--radius-lg);
    text-align: center;
    box-shadow: var(--shadow-card);
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 75px;
    margin-bottom: 20px;
}

.card h3 {
    color: var(--verde-escuro);
    font-size: 1.3rem;
    margin-bottom: 12px;
}

footer {
    text-align: center;
    padding: 40px;
    color: #666;
    margin-top: 30px;
}
