.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shadow {
    box-shadow: var(--shadow-card);
}
.text-center {
    text-align: center;
}
.separator {
    width: 100%;
    height: 2px;
    background: #dcdcdc;
    margin: 40px 0;
}
