.top-header {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--fundo-claro);
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 0 30px;

    position: fixed;  
    top: 0;
    left: 0;
    z-index: 20;
}

.app-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--verde-escuro);
}

.user-circle {
    width: 40px;
    height: 40px;
    background: var(--verde);
    border-radius: 50%;
    cursor: pointer;
}


.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    margin-top: 60px;
    height: calc(100vh - 60px);
}

.sidebar {
    background: var(--fundo-claro);
    padding: 30px 20px;
    box-shadow: 2px 0 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 14px;
    font-size: 1.1rem;
    color: var(--cinza);

    border-radius: 8px;
    transition: 0.2s;
}

.menu-item:hover {
    background: var(--verde);
    color: #fff;
}

.menu-item img {
    width: 22px;
    height: 22px;
}

.content {
    background-color: #fff;
    padding: 40px;
}

.main-btn {
    padding: 16px 28px;
    font-size: 1.1rem;
}
